name: Secure CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build-and-scan:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build docker image
        run: |
          docker build --no-cache -t ghcr.io/${{ github.repository }}/node-app:latest .


      - name: debug
        run: |
                docker run --rm ghcr.io/${{ github.repository }}/node-app:latest npm list tar glob

    #   - name: Trivy scan
    #     uses: aquasecurity/trivy-action@0.33.1
    #     with:
    #       image-ref: ghcr.io/${{ github.repository }}/node-app:latest
    #       format: table
    #       severity: HIGH,CRITICAL
    #       exit-code: 1
    #       ignore-unfixed: true
    #       cache: false

    #   - name: Push image
    #     run: |
    #       docker push ghcr.io/${{ github.repository }}/node-app:latest
