name: Secure CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build-and-scan:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Trivy scan fixes
        run: |
          npm uninstall -g @isaacs/brace-expansion tar

          # Remove packages
          rm -rf $(npm root -g)/isaacs/brace-expansion 
          rm -rf $(npm root -g)/tar

          # Install fixed packages "globally" to override base image package
          npm install -g @isaacs/brace-expansion@^5.0.1 tar@^7.5.7

      - name: Build docker image
        run: |
          docker build --no-cache -t ghcr.io/${{ github.repository }}/node-api:latest .

    #   - name: debug
    #     run: |
    #             docker run --rm ghcr.io/${{ github.repository }}/node-api:latest npm list tar glob

      - name: Trivy scan
        uses: aquasecurity/trivy-action@0.33.1
        with:
          image-ref: ghcr.io/${{ github.repository }}/node-api:latest
          format: table
          severity: HIGH,CRITICAL
          exit-code: 1
          ignore-unfixed: true
          cache: false

      - name: Push image
        run: |
          docker push ghcr.io/${{ github.repository }}/node-api:latest
